.article header {
  margin-bottom: 2.4rem;
}

.article h1 {
  font-size: 2.4rem;
}

.article h2,
.article h3 {
  margin: 2.8rem 0 1.8rem;
}

.article p {
  margin-bottom: 1.6rem;
  line-height: 1.8;
}

.article p img {
  max-width: 100%;
}

.article p img + em {
  display: block;
  text-align: center;
  font-size: 0.8rem;
}

.article li {
  line-height: 1.8;
  margin-bottom: 1rem;
}

.article li:last-child {
  margin-bottom: 1.8rem;
}

.article blockquote {
  margin: 1rem 0 1.4rem 1.4rem;
  font-size: 1.1rem;
  color: var(--blockquote-color); 
  font-style: italic;
  position: relative;
}

.article blockquote::after {
  content: "";
  width: 4px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1.4rem;
  background: var(--font-color-accent);
}

.article blockquote p {
  line-height: 1.5;
}

.hr {
  background: var(--hr-bg);
  height: 1px;
  border: 0;
  margin-bottom: 1.8rem;
}

.navList {
  list-style: none;
  margin: 1.8rem 0;
  padding: 0 1rem;
}

.navList li {
  margin-bottom: 2.2rem;
}

.navList li:last-child {
  margin-bottom: 0;
}