.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  margin-top: -3rem;
}

.wrapper h1 {
  font-size: min(max(4rem, 8vw), 6rem);
  margin-bottom: 2rem;
}

.wrapper p {
  margin-bottom: 1.25rem;
  line-height: 1.5;
  font-size: min(max(1rem, 1.5vw), 1.5rem);
}

.wrapper button {
  text-transform: uppercase;
  font-size: 0.8em;
  outline: none;
  border: none;
  padding: 0.8em 0em;
  border-radius: 1.5em;
  font-weight: bold;
  cursor: pointer;
  background: transparent;
  color: var(--font-color-accent);
  align-self: flex-start;
  cursor: pointer;
}