.nav {
  position: fixed;
  width: 100%;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
}

.navContainer {
  display: flex;
  height: 55px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1.25em;
}

.brand {
  font-size: 1.6em;
}

.navLinks > * {
  margin-left: 1em;
}

.navLinks > a {
  color: var(--font-);
  text-decoration: none;
  font-size: 0.9em;
}

.modeToggler {
  background: none;
  border: none;
  font-size: 1.2em;
}

.hero {
  height: calc(100vh - 55px);
  background-color: var(--bg-color-light);
  padding: 110px 2em;
}

.heroText h1 {
  font-size: 2.5em;
  margin: 0;
}

.heroText .name {
  position: relative;
  z-index: 1;
}

.heroText .name::after {
  content: ' ';
  display: block;
  position: absolute;
  width: 2em;
  height: 5px;
  bottom: 8px;
  left: -5px;
  z-index: -1;
  background-color: var(--font-color-accent)
}