.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh - 55px;
  height: calc(var(--vh, 1vh) * 100 - 55px);
}

.heroText {
  padding-left: 2rem;
  padding-right: 2rem;
}

.heroText h1 {
  font-size: min(max(2.2rem, 6vw), 5rem);
  margin: 0;
}

.heroText .name {
  position: relative;
  z-index: 1;
}

.heroText .name::after {
  content: ' ';
  display: block;
  position: absolute;
  width: 2em;
  height: 5px;
  bottom: 8px;
  left: -5px;
  z-index: -1;
  background-color: var(--font-color-accent)
}

.down {
  opacity: 0;
  animation: fade-in 1s ease-in 2s, bounce 1.3s ease infinite;
  animation-fill-mode: forwards;
  position: absolute;
  bottom: 20px;
}

.down button {
  background: none;
  border: 0;
  cursor: pointer;
}


.aboutMeSection {
  padding-top: 1.8em;
  padding-bottom: 3.2em;
}

.aboutMeSection h2 {
  margin-bottom: 0.5em;
}

.aboutMe {
  padding: 1em 1.5em;
  border-radius: 8px;
}

.aboutMe p {
  line-height: 1.8;
  font-size: min(max(0.9em, 4vw), 1.3rem);
  margin-bottom: 1em;
}

.socialIcons {
  float: right;
}

.socialIcon {
  color: var(--font-color-body);
  font-size: 1.4em;
  margin-right: 0.5em;
  transition: color 0.2s;
}

.socialIcon:hover {
  color: var(--font-color-accent);  
}

.contactSection {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: var(--font-color-accent);
}

.contactSection h2,
.contactSection small {
  color: white;
}

.contactForm {
  background: white;
  color: var(--font-color-body);
  padding: 2.2rem 1.4rem 1.4rem;
  border-radius: 8px;
  box-shadow: 0.5em 1.25em 1.75em 0 rgba(0,0,0,.3);
  margin-top: 1.5em;
  max-width: 420px;
}

.contactForm label {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.8em;
}

.contactForm input,
.contactForm textarea {
  margin: 0.5em 0;
  padding: 0.4em;
  width: 100%;
}

.contactForm button {
  text-transform: uppercase;
  font-size: 0.8em;
  background: var(--font-color-accent);
  outline: none;
  border: none;
  color: white;
  margin: 1em 0;
  padding: 0.8em;
  width: 100%;
  border-radius: 1.5em;
  font-weight: bold;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes bounce {
  0% { transform: translateY(0); }
  30% { transform: translateY(-4px); }
  50% { transform: translateY(0); }
  100% { transform: translateY(0); }
}

@media (min-width: 1190px) {
  .hero {
    top: -60px;
  }

  .aboutMeSection {
    padding-top: 1.8em;
    padding-bottom: 5em;
  }

  .contactSection {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .contactSection small {
    font-size: 0.9rem;
  }

  .contactForm label {
    font-size: 0.9rem;
  }

  .contactForm input,
  .contactForm textarea {
    margin: 0.4rem 0 1.2rem;
  }

  .contactForm button {
    font-size: 0.9rem;
  }
}