.article header {
  margin-bottom: 0.6rem;
}

.article h3 {
  font-size: 1.6rem;
  margin-bottom: 0.3rem;
}

.article a {
  text-decoration: none;
}

.article p {
  margin-bottom: 1.6rem;
  line-height: 1.8;
}