.nav {
  position: fixed;
  width: 100%;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
  top: 0 !important;
  z-index: 1000;
  background: white;
}

.navContainer {
  display: flex;
  height: 55px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1.25em;
}

.brand {
  font-size: 1.6em;
}

.navLinks > * {
  margin-left: 1em;
}

.navLinks > a {
  color: var(--font-color-body);
  text-decoration: none;
  font-size: 0.9em;
}

.modeToggler {
  background: none;
  border: none;
  font-size: 1.2em;
}

.footer {
  padding: 2.4em 1.8em;
}

.footerLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerLinks div {
  position: relative;
  top: 2px;
}

.footer p {
  margin-top: 2em;
  font-size: 0.9em;
}

.socialIcon {
  color: var(--font-color-body);
  font-size: 1.4em;
  margin-right: 0.5em;
  transition: color 0.2s;
}