:root {
  --font-color-emphasis: #347474;
  --font-color-accent: #649d66;
  --font-color-body: rgba(0, 0, 0, 0.8);
  --bg-color-light: #ffffff;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Montserrat';
  color: var(--font-color-body);
}

a {
  color: var(--font-color-emphasis);
}

h1, h2, p {
  margin: 0;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 0.5em;
}