:root {
  --font-color-emphasis: #347474;
  --font-color-body: #fff;
  --font-color-accent: #649d66;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Montserrat';
  color: #111;
}

a {
  color: var(--font-color-emphasis);
}