:root {
  --font-color-accent: #649d66;
}

body {
  transition: all 0.2s;
}

body.light {
  --bg-color: #ffffff;
  --font-color-body: rgba(0, 0, 0, 0.8);
  --tag-bg: #f2f2f2;
  --tag-color: #5f5f5f;
  --contact-bg: var(--font-color-accent);
  --contact-color: #ffffff;
  --form-bg: #ffffff;
  --form-button-bg: var(--font-color-accent);
  --form-button-color: #ffffff;
  --hr-bg: rgba(0, 0, 0, 0.2);
}

body.dark {
  --bg-color: #202020;
  --font-color-body: hsl(0, 0%, 100%);;
  --tag-bg: #131313;
  --tag-color: #f2f2f2;
  --contact-bg: #1c1c1c;
  --contact-color: #ffffff;
  --form-bg: #131313;
  --form-button-bg: #0e0e0e;
  --form-button-color: var(--font-color-accent);
  --hr-bg: rgba(255, 255, 255, 1);
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Montserrat';
  color: var(--font-color-body);
  background: var(--bg-color);
}


a {
  color: var(--font-color-accent);
}

h1, h2, h3, h4, p {
  margin: 0;
}

h2 {
  font-size: min(max(1.8rem, 4vw), 2rem);
}

.container {
  padding: 0 1.4em;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.title {
  margin-bottom: 3rem;
  font-weight: 900;
}

.page-section {
  padding-top: 4.5rem;
}