.modeToggler button {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
  cursor: pointer;
}

body.light .modeToggler div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: hsl(0, 0%, 10%);
  position: relative;
}

body.light .modeToggler div::before {
  content: "";
  position:absolute;
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50%;
  top: -2px;
  right: -3px;
}

body.dark .modeToggler div {
  width: 8px;
  height: 8px;
  background: hsl(0, 0%, 100%);
  border-radius: 50%;
  position: relative;
}

body.dark .modeToggler div::after {
  content: "";
  position:absolute;
  width: 3px;
  height: 3px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px -7px white, 7px 0 white, 0 7px white, -7px 0 white,
              5px -5px white, 5px 5px white, -5px 5px white, -5px -5px white;
}
