.container {
  font-family: Inconsolata;
}

.main {
  font-size: 1.1em;
  margin-bottom: 0.2em;
}

.stats {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.8em;
  opacity: 0; 
  animation: fade-in 1s ease-in 1.5s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}