.section {
  padding-top: 4.5rem;
}

.tagContainer {
  display: flex;
  flex-flow: row wrap;
}

.tagContainer small {
  margin: 0 0.4rem 0.4rem 0;
  padding: 0.2rem;
  border-radius: 4px;
  color: var(--tag-color);
  background: var(--tag-bg);
}